<h2 class="mb-5 fw-bold"><i class="bi bi-cart3"></i>All Products</h2>

<div class="row g-5 row-cols-4">
    {{#each items}}
    <div class="col">
        <a href="/admin/manage/items/update/{{id}}">
            <div class="card item-card" style="width: 18rem;">
                <div class="col-md-4">
                    <img src="../img/yanz.jpg" class="" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{name}}</h5>
                        <p class="card-text">{{description}}</p>
                        <p class="card-text">{{price}}</p>
                        <p class="card-text">{{status}}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {{/each}}
</div>